body {
    width:1024px;
    margin: 0 auto;
}
header {
    position: relative;
}
.logo-alura {
    position: absolute;
    top: 24px;
    left: 10px;
}
.container {
    position: relative;
}
.request-container {
    width: 70%;
    min-height: 600px;
    height: auto;
    margin-top: 25px;
    margin-left: 50px;
    padding: 10px;
}
.instructions-container {
    width: 90%;
    height: 40px;
    padding: 10px;
    margin-left: 50px;
}

.button-container {
    width: 70%;
    height: 100px;
    position: absolute;
    margin-left: 50px;
   
}
.response-container {
    width: 20%;
    height: auto;
    min-height: 700px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    padding: 10px; 
    position: absolute;
    right: 5px;
    top: -10px;
}
.response-container img {
    display: block;
    width: 200px;
    height: auto;
    min-height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
